<!DOCTYPE html>
<html lang="en" ng-app="teamSelectorApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>(Beau)tifying Sports Data</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <script src="js/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.12/angular-cookies.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .dropdown-menu {
            min-width:auto;
            width:100%;
        }
    </style>
</head>

<body ng-controller="TeamListCtrl">

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top">Beau Rudder</a>
        </li>
        <li>
            <a href="#top">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#fastAnalysis">QuickLook</a>
        </li>
        <li>
            <a href="#gameAnalysis">Graphs</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Graphing Sports Data</h1>

        <h3>Using HighCharts, BootStrap &amp; app.sportdata.com.au</h3>
        <br>
        <!--<a href="#about" class="btn btn-dark btn-lg">Find Out More</a>-->

        <!--<a href="#fastAnalysis" class="btn btn-dark btn-lg">Fast Analysis</a>-->

        <!--<a href="#schedule" class="btn btn-dark btn-lg">Home Games</a>-->
        <div class="container">
        <!--<div class="row text-center">-->
            <div class="row">
                <select class="btn btn-dark btn-lg" style="width:235px;" ng-model="site"
                        ng-options="site.name for site in sites track by site.id" ng-change="centre()">
                    <option value=''>Select</option>
                </select>
            </div>
            <div class="row">
                <select id='division' class="btn btn-dark btn-lg" style="width:235px;"  ng-disabled="!leagues" ng-model="divisions"
                        ng-options="league.league for league in leagues track by league.id">
                    <option value=''>Select</option>
                </select>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="row">
                <select id='team' class="btn btn-dark btn-lg" style="width:235px;" ng-disabled="!divisions" ng-model="teams"
                        ng-options="division.division for division in divisions.divisions track by division.id" ng-change="division()">
                    <option value=''>Select</option>
                </select>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="row">
                <select class="btn btn-dark btn-lg" style="width:235px;" ng-disabled="!teams" ng-model="stats"
                        ng-options="team for team in teams.teams">
                    <option value=''>Select</option>
                </select>
            </div>

        <!--</div>-->
        <div class="row">
            <a href="#fastAnalysis" ng-disabled="!stats" data-toggle="button" ng-click="teamSelect()" class="btn btn-success btn-lg">Set Team!</a>
        </div>
      </div>


    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Creating Graphs Based on a data freely found on schedule websites</h2>

                <p class="lead">All Data is being pulled dynamically</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="fastAnalysis" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>{{ myTeam.name }}</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">

                        <div class="service-item">
                            <div class="fa-stack fa-4x">
                                <canvas id="lastMatch" height="112px !important" width="112px !important"></canvas>
                            </div>
                            <h4>
                                <strong>Last Match</strong>
                            </h4>

                            <p>Goal Score</p>
                            <a href="#gameAnalysis" class="btn btn-light">See More Graphs</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="fa-stack fa-4x">
                                <canvas id="winsvLosses" height="112px" width="112px"></canvas>
                            </div>
                            <h4>
                                <strong>Wins / Losses</strong>
                            </h4>

                            <p>Games Won, Games Lost</p>
                            <a href="#gameAnalysis" class="btn btn-light">See More Graphs</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="fa-stack fa-4x">
                                <canvas id="forAgainst" height="112px" width="112px"></canvas>
                            </div>
                            <h4>
                                <strong>For &amp; Against</strong>
                            </h4>

                            <p>Goals Scored, Goals Missed</p>
                            <a href="#gameAnalysis" class="btn btn-light">See More Graphs</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="fa-stack fa-4x">
                                <canvas id="winsLadder" height="112px" width="112px"></canvas>
                            </div>
                            <h4>
                                <strong>Wins Ladder</strong>
                            </h4>

                            <p>Radar Based on Wins</p>
                            <a href="#gameAnalysis" class="btn btn-light">See More Graphs</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Charts</h1>
    </div>
</aside>
<!-- Portfolio -->
<section id="gameAnalysis" class="portfolio">
    <div class="col-lg-12 text-vertical-center">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select Graph From List
                <span class="caret"></span></a>
            <ul class="dropdown-menu"  role="menu" id='grouping' >
                <li><a href="#active" tabindex="-1" onClick="plotWinsIncremental()" class="btn btn-lg btn-light">Score Board</a></li>
                <li><a href="#WinsLossPw" tabindex="-1" onClick="plotWinsLosses()" class="btn btn-lg btn-light">Plot
                    Wins/Losses</a></li>
                <li><a href="#WinsLossMarginPw" tabindex="-1" onClick="plotWinLossMargins()" class="btn btn-lg btn-light">Plot
                    Wins/Loss Margin</a></li>
                <li><a href="#goalsInc" tabindex="-1" onClick="plotGoalsIncrement();" class="btn btn-lg btn-light">Goals
                    Incremental</a></li>
                <li><a href="#GoalsMarginInc" tabindex="-1" onClick="plotGoalsMarginsIncremental()" class="btn btn-lg btn-light"
                       >Goals Margins Incremental</a></li>
                <li><a href="#goalsPw" tabindex="-1" onClick="plotGoalsPerWeek()" class="btn btn-lg btn-light">Goals Per
                    Week</a></li>
                <li><a href="#matchupHistory" tabindex="-1" onClick="plotCompareTwoTeams(teams[0],teams[1])"
                       class="btn btn-lg btn-light">Compare Teams</a></li>
            </ul>
        </div>


    </div>
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->

        <div id="graphs" style="min-width: 310px; height: auto; margin: 0 auto"></div>

        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside id="schedule" class="call-to-action bg-primary">
    <div class="container">
        <div class="col-lg-12 text-vertical-center">
            <h1><strong>{{ myTeam.name }}</strong> </h1>
            <h2>play at: </h2>
        </div>
    </div>
</aside>

<!-- Map -->
<section id="contact" class="map">
    <div id="map-canvas" style="height: 100%;
        margin: 0px;
        padding: 0px">
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>{{my.name}}</strong>
                </h4>

                <p>Vancouver,<br>CANADA V6R 1B2</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i>beau.rudder</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:beau.j.rudder@gmail.com">beau.j.rudder@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Beau Rudder 2014</p>
                <a href="http://startbootstrap.com/template-overviews/stylish-portfolio/">site based on this template</a>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/purl.js"></script>
<script src="js/Chart.js"></script>
<script src="js/sportdata.js"></script>
<script src="js/highstock.js"></script>
<script src="js/exporting.js"></script>



<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

        $('#graphs').highcharts({
            chart: {
                zoomType: 'xy',
                id: 'soccer'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: 'Source: app.sportdata.com'
            },

            xAxis: [
                {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    },
                    tickInterval: (24 * 3600 * 1000) * 7,
                    title: {
                        text: 'Date'
                    }
                }
            ],
            yAxis: [
                { // Primary yAxis
                    title: {
                        text: 'Metric',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }

                }
            ],
            tooltip: {
                shared: true
            },
            legend: {
                display: true

            },
            series: []
        });
        //var id = ($.url().param('id') == undefined) ? 1655 : $.url().param('id');
        //var myTeam = ($.url().param('team') == undefined && id == 1655) ? 'Jimmie Rustlers' : undefined;

        var teams = [];
        var score_by_games = [];


    });
    initializeMap();
    if(getCookie('settings') == ""){
        window.location = '#fastAnalysis';
    }
</script>

</body>

</html>
